* {
  box-sizing: border-box;
}

body {
  min-width: 768px;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: black;
}

.title {
  color: white;
  padding: 18px;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 1440px) {
  body {
      width: 100%;
  }
}
